html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  background-color: #f3f6f7;
  font-family: Roboto, Helvetica, Arial, 'sans-serif';
}

.root {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

button:focus {
  outline: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

label,
legend {
  margin-bottom: 0;
}
